<h1>Sobre nós</h1>
<p><strong>Time:</strong></p>
<p>Caroline Salib</p>
<p>Helder Rocha</p>

<p><strong>Github:</strong></p> <a href="https://github.com/carolinesalib/projetoAulaBanco2">Link do repositório</a>
<p></p>
<p><strong>Apresentação:</strong></p> <a href="https://docs.google.com/presentation/d/1H87HovFp9zs-HWoh-9FxPc1HkkeoF5C-wI_jjsLt3Z8/edit?usp=sharing">Link da apreentação</a>
